{% extends 'post/layout.html' %}
{% block body%}
{% load static%}
<div class="card ml-1">
    <div class="card-body">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{object.post_image.url}}"
                 style="width: 150px; height: 150px;">
            <div class="media-body ml-4">
                <div class="article-metadata">
              <a href="{% url 'userhome' object.author.id %}">      <small class="text-muted">{{object.author}}</small></a>
                </div>
                <h2><a class="article-title" href="#">{{object.title}}</a></h2>
                <div class="row">
                    <p class="textoverflow ml-2">{{object.content}}</p>
                </div>
                <div>
                 <a href="{% url 'like-disliked' object.id%}"><i id="heart" class="fas fa-heart" style="cursor: pointer; color=white; text-decoration=None;">{{object.likes.count}}</i></a>
                </div>
            </div>
        </article>
    </div>
</div>
<script>
   var icon=document.getElementById("heart");
      icon.addEventListener("click",function(){
          if(icon.style.color=='red'){
             icon.style.color='white';
          }
          else{
            icon.style.color='red';
          }
      });

</script>
<form class="form-inline mr-2 " action="{% url 'post-comment' object.id%}" method="POST">
    {% csrf_token %}
    <input class="form-control ml-2" type="text" name="comment" placeholder="Add Comments">
    <input class="btn btn-outline-success my-2 my-sm-0 mr-2 " type="submit" value="Submit">
</form>
{% for c in object.comments.all%}
{% for u in c.user.all%}
<div class="container-fluid ">
    <div class="card">
        <div class="card-body">
            <a class="ml-3" href="{% url 'userhome' u.id%}">{{u.username}}</a>
            <h3 class="ml-3">{{c.content}}</h3>
            <small class="text-muted">{{c.date_comment| date:"F d Y"}}</small>
            {% if u == user%}
            <div class="row m-2">
                <a href="{% url 'comment-delete' object.id c.id %}" class="ml-2 btn btn-outline-danger">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endfor%}
{% endfor %}
{% endblock%}


